<ion-content>
  <div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input
          formControlName="usuario"
          maxlength="8"
          minlength="3"
          type="text"
          required
        ></ion-input>
      </ion-item>
      <div *ngIf="usuario && usuario.invalid && (usuario.dirty || usuario.touched)" class="error">
        <small *ngIf="usuario.errors && usuario.errors['required']">Campo requerido.</small>
        <small *ngIf="usuario.errors && usuario.errors['minlength']">Mínimo 3 caracteres.</small>
        <small *ngIf="usuario.errors && usuario.errors['maxlength']">Máximo 8 caracteres.</small>
        <small *ngIf="usuario.errors && usuario.errors['pattern']">Solo letras y números.</small>
      </div>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          formControlName="password"
          maxlength="4"
          minlength="4"
          type="password"
          inputmode="numeric"
          required
        ></ion-input>
      </ion-item>
      <div *ngIf="password && password.invalid && (password.dirty || password.touched)" class="error">
        <small *ngIf="password.errors && password.errors['required']">Campo requerido.</small>
        <small *ngIf="password.errors && (password.errors['minlength'] || password.errors['maxlength'])">Debe tener 4 dígitos.</small>
        <small *ngIf="password.errors && password.errors['pattern']">Solo números.</small>
      </div>

      <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">Agregar</ion-button>
    </form>
  </div>
</ion-content>